USE [master]
GO
/****** Object:  Database [User]    Script Date: 12.04.2021 16:23:43 ******/
CREATE DATABASE [User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'User', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\User.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'User_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\User_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [User].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [User]
GO
/****** Object:  Table [dbo].[NOT]    Script Date: 12.04.2021 16:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameOfTheInsuranceCompany] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NOT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOP]    Script Date: 12.04.2021 16:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeOfInsurancePolicy] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TOP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12.04.2021 16:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[PassportSeries] [int] NOT NULL,
	[PassportNumber] [int] NOT NULL,
	[Telephone] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[InsurancePolicyNumber] [int] NOT NULL,
	[TypeOfInsurancePolicy] [int] NOT NULL,
	[NameOfTheInsuranceCompany] [int] NOT NULL,
	[Post] [nvarchar](100) NOT NULL,
	[Gendercod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NOT] ON 

INSERT [dbo].[NOT] ([ID], [NameOfTheInsuranceCompany]) VALUES (1, N'Альянс Жизнь')
INSERT [dbo].[NOT] ([ID], [NameOfTheInsuranceCompany]) VALUES (2, N'ВТБ Страхование')
INSERT [dbo].[NOT] ([ID], [NameOfTheInsuranceCompany]) VALUES (3, N'Ингосстрах')
SET IDENTITY_INSERT [dbo].[NOT] OFF
GO
SET IDENTITY_INSERT [dbo].[TOP] ON 

INSERT [dbo].[TOP] ([ID], [TypeOfInsurancePolicy]) VALUES (1, N'ОМС')
INSERT [dbo].[TOP] ([ID], [TypeOfInsurancePolicy]) VALUES (2, N'ДМС')
SET IDENTITY_INSERT [dbo].[TOP] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_NOT] FOREIGN KEY([NameOfTheInsuranceCompany])
REFERENCES [dbo].[NOT] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_NOT]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TOP] FOREIGN KEY([TypeOfInsurancePolicy])
REFERENCES [dbo].[TOP] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TOP]
GO
USE [master]
GO
